# Ignore everything
/*

# But no .gitignore
!.gitignore

# And no *.png and *.ico files (i.e. favicons)
!*.png
!*.ico

# And no core/elements/chunks, core/elements/plugins, core/elements/snippets, core/elements/templates
!core/
core/*
!core/elements/
core/elements/*

!core/elements/chunks
!core/elements/plugins
!core/elements/snippets
!core/elements/templates

# And no assets/css, assets/fonts, assets/i, assets/js, assets/scss
!assets/
assets/*

!assets/css
!assets/fonts
!assets/i
!assets/js
!assets/scss

# And no assets/components/cityselector, assets/components/captcha, assets/components/userpreferences, assets/components/productcomplectation, assets/components/1cexchangepostprocessing, assets/components/archiveextractor
!assets/components/
assets/components/*

!assets/components/cityselector
!assets/components/captcha
!assets/components/userpreferences
!assets/components/productcomplectation
!assets/components/1cexchangepostprocessing
!assets/components/archiveextractor

# And no core/components/cron.php
!core/components/
core/components/*

!core/components/cron.php

# And no core/components/minishop2/plugins, assets/components/minishop2/plugins
!core/components/minishop2/
core/components/minishop2/*

!core/components/minishop2/plugins

# But core/components/minishop2/plugins/.placeholder
core/components/minishop2/plugins/.placeholder

!assets/components/minishop2
assets/components/minishop2/*

!assets/components/minishop2/plugins

# But assets/components/minishop2/plugins/.placeholder
assets/components/minishop2/plugins/.placeholder

# And no assets/components/minishop2/h.php
!assets/components/minishop2/h.php
