# Ignore everything
/*

# But no .gitignore
!.gitignore

# And no core/elements/chunks, core/elements/plugins, core/elements/snippets, core/elements/templates
!core/
core/*
!core/elements/
core/elements/*

!core/elements/chunks
!core/elements/plugins
!core/elements/snippets
!core/elements/templates

# And no assets/css, assets/fonts, assets/i, assets/js, assets/scss
!assets/
assets/*

!assets/css
!assets/fonts
!assets/i
!assets/js
!assets/scss

# And no assets/components/cityselector, assets/components/captcha
!assets/components/
assets/components/*

!assets/components/cityselector
!assets/components/captcha
