# Ignore everything
/*

# But no .gitignore
!.gitignore

# And no core/templates/elements and core/templates/chunks
!core/
core/*
!core/elements/
core/elements/*

!core/elements/templates
!core/elements/chunks

# And no assets/css, assets/fonts, assets/i, assets/js, assets/scss
!assets/
assets/*

!assets/css
!assets/fonts
!assets/i
!assets/js
!assets/scss
