// Typography

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    @include hover-focus {
      color: darken($color, 10%) !important;
    }
  }
  #{$parent} a {
    border-bottom-color: lighten($color, .5);
    border-bottom-color: rgba($color, .5);

  }
}
