/**
 * Helper classes
 */

.c-pointer {
    cursor: pointer !important;
}

.bg-none {
    background: none !important;
}

/**
 * Filters
 */

.switchable-filter {
    display: none;
}

#mse2_filters {
    width: 100%;
}

.color-checkbox + label,
.color-checkbox:checked + label,
.color-checkbox:not(:checked) + label {
    margin-right: 4px;
}

#mfilter-reset-row {
    margin-bottom: 25px;
}

.sort.active {
    font-weight: bold;
}

#mse2_mfilter .pagination {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

.check-mark {
    display: inline-block;
    margin-left: 20px;
    /* Duplicate of .color-checkbox:checked + label::before */
    top: 10px;
    left: 19px;
    width: 12px;
    height: 25px;
    border-radius: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    /* Font color from .alert-success */
    border-right: 2px solid #3c763d;
    border-bottom: 2px solid #3c763d;
    transform: rotate(40deg);
}

/* Fix for check mark */
.ajax_form .form-control {
    display: inline-block !important;
}


/* Error under an input */
.ajax_form .error {
    display: block;
}

/* Forms */

.servicedesk span.error {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.servicedesk-p {
    min-height: 4.5rem;
}

.servicedesk-p.success-message {
    color :#3c763d;
}

#discount-coupon .modal-title {
    color:#292b2c;
}

.coupon span.error {
    margin-top: 0.25rem;
}

.coupon .captcha .captcha-refresh {
    color: #464a4c;
    border-bottom: 1px solid;
    cursor: pointer;
}

.coupon .captcha .captcha-refresh:hover {
    border-bottom: none;
    color: #464a4c;
}

.coupon .success-message {
    display: inline;
    margin-left: 1rem;
    position: relative;
    top: -1.5rem;
    color:green;
}

.coupon .check-mark {
    position: relative;
    left: 0;
    top: -1.5rem;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
}

.product-availability span.error,
.product-availability .success-message,
.product-price-order span.error,
.product-price-order .success-message {
    margin-top: -0.25rem;
    float: left;
}

.product-availability .success-message,
.product-price-order .success-message {
    color: #3c763d;
}

.city {
    cursor: pointer;
}

.city.active {
    color: #ff9225;
}

/* Cart form */

#requisites {
    color: #464a4c;
    width: 100%;
    border: 2px dashed #7b848a;
    padding: .6rem 1.2rem;
}

#requisites .dz-message {
    margin: 0 0 2rem;
    text-align: center;
}

#requisites .dz-message .dz-message-placeholder {
    color: #7b848a;
    text-transform: uppercase;
    line-height: 2.2;
    text-align: left;
}

#requisites .dz-message > .o-icon {
    width: 35px;
    fill: #464a4c;
}

.file-upload-label {
    font-size: .9rem;
}

/* dropzone.css overriding */

.dz-remove {
    margin-top: .5rem;
}

/* Fix for #msCart th, #msCart td */

#msCart th, #msCart td {
    text-align: left !important;
    line-height: inherit !important;
}

#msCart th.text-right {
    text-align: right !important;
}

/* Category */

a.btn[type="button"] {
    border-bottom-color: transparent;
}

/* Door complectation */

/*
.table-responsive > .table: https://github.com/twbs/bootstrap/issues/21577#issuecomment-272117877
*/

#door-complectation table {
    margin-bottom: 0;
}

#door-complectation td {
    vertical-align: middle;
}

#door-complectation tr:first-child td {
    border-top: none;
}

#door-complectation .total-cost {
    width: 17%;
}

#door-complectation .card-price,
#door-complectation .ms2_total_row_cost {
    white-space: nowrap;
}

#door-complectation .input-group {
    margin: .5rem 0;
}

#door-complectation .ms2_form button[type="submit"] {
    display: none;
}

#door-complectation .input-group-addon {
    background: transparent;
    width: 2.5rem;
}

#door-complectation input {
    max-width: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

#door-complectation [data-spin] {
    padding: .25rem;
    border-radius: .5rem;
    font-size: 1.375rem;
    box-shadow: none;
    text-shadow: none;
    line-height: 1;
    width: 2.5rem;
}

#door-complectation .input-group > *:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#door-complectation .input-group > *:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.product-complectation-item-definition {
    padding: .75rem;
    text-align: left;
    text-indent: 1rem;
}

/* Question mark icon */

.question-mark-icon:before {
    content: url('../i/question-mark-icon.svg');
}

.question-mark-icon {
    position: relative;
    top: 6px;
    left: 3px;
    cursor: pointer;
}

/* No photo */

.overlay-door.no-photo {
    background: none;
    padding-left: 0;
}

.overlay-door.no-photo img {
    width: 150px;
    height: 150px;
}

/* Cart */

#cartClean {
    float: left;
}

.cart-empty {
    margin: 7rem 0 10rem;
    text-align: center;
    font-size: 2rem
}

.cart-item img.no-image {
    width: 150px;
}

.cart-item .furniture .overlay-door {
    float: none;
    background: none;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item .furniture img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 200px;
}

.order-completed {
    margin: 10rem 0 10rem;
    text-align: center;
    font-size: 2rem;
}

/* Nothing found */

#nothing-found {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    margin: 4rem 0;
}

/* Contacts */

.contacts-map {
    width: 100%;
    height: 400px;
}

.contacts-branch-heading {
    padding: .75rem 0;
    font-weight: bold;
}

.contacts-branch-row {
    margin: 0;
    border-top: 1px solid #eceeef;
}

.contacts-branch-row [class^="col"] {
    padding: .75rem 0;
}

/* Favorites */

.wishlist-empty {
    margin: 6.5rem 0 9rem;
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

.msfavorites.load.voted.icon-heart-o::before {
    content: "\77";
}

.msfavorites.icon-heart-o {
    position: relative;
}

.msfavorites .tooltip-title.msfavorites-text-add,
.msfavorites .tooltip-title.msfavorites-text-remove {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
}

.msfavorites .product.msfavorites-text-add,
.msfavorites .product.msfavorites-text-remove {
    color: #292b2c;
    font-size: 1rem;
    line-height: 1.5;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    position: relative;
    top: -.5rem;
    left: .125rem;
    /* .msfavorites-text-add and .msfavorites-text-remove functionality doens't work with "a" element */
    /* span.product.msfavorites-text-add|msfavorites-text-remove has 2 pixels more height than "a" without class */
}

.msfavorites .product.msfavorites-text-add:hover,
.msfavorites .product.msfavorites-text-remove:hover {
    border-bottom: 0;
}

/* Social networks */

#social-networks a {
    border-bottom: 0;
}

#social-networks a:not(:last-child) {
    margin-right: .25rem;
}

#social-networks a img {
    width: 41px;
    height: 41px;
}

/* Blog lightGallery */

#blog-lightGallery img {
    cursor: pointer;
}

/* Only model in title at product page */

.expo-title .model {
    line-height: 1;
}

/* Product buttons container */

.product-buttons-container {
    margin-top: -1.5rem;
}

/* Fix price of a product page at small screens */

@media (max-width: 576px) {
    .expo-price {
        font-size: 2.5rem;
    }
}

.promo-header .promo-title {
    text-decoration: underline;
}

.promo-header .promo-title:hover,
.promo-header .promo-title:focus {
    text-decoration: none !important;
}

/* Fix not-touchable modal at browsers with Webkit engine */

#expo_custom {
    -webkit-overflow-scrolling: touch;
}

/* Always show spinners for number inputs */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   opacity: 1 !important;
   -webkit-appearance: inner-spin-button !important;
}

/* No line breaks in product card price */

.ms2-price {
    white-space: nowrap;
}

/**
 * Card (product) rating in product list
 */

/* .card-rating-stars {
    margin-top: .7rem;
    font-size: 1rem;
} */

.card-rating-stars {
    display: inline-block;
    margin-top: .625rem;
    width: 85px;
    height: 16px;
    background: url('/assets/i/icons/rating-stars-17x32.png') 0 -16px repeat-x;
}

.card-rating-stars span {
    display: block;
    width: 0px;
    height: 16px;
    background: url('/assets/i/icons/rating-stars-17x32.png') 0 0 repeat-x;
}

/**
 * Expo (product) rating at product page
 */

/* .expo-rating-stars {
    display: inline-block;
    font-size: 1.25rem;
    margin-right: .75rem;
    position: relative;
    top: 3px;
} */

.expo-rating-stars {
    display: inline-block;
    margin-right: .75rem;
    position: relative;
    top: 2px;
    width: 105px;
    height: 20px;
    background: url('/assets/i/icons/rating-stars-21x40.png') 0 -20px repeat-x;
}

.expo-rating-stars span {
    display: block;
    width: 0px;
    height: 20px;
    background: url('/assets/i/icons/rating-stars-21x40.png') 0 0 repeat-x;
}

.expo-rating-info {
    display: inline-block;
    font-size: .9375rem;
}

/**
 * Product tabs
 */

@media (min-width: 992px) {
    #product-tabs {
        overflow-y: auto;
        /* calc (380px + 1rem) isn't parsed by minifier properly, so use it as px */
        height: 396px;
    }
}

/**
 * Product reviews
 */

#product-reviews h5 {
    font-weight: 400;
    opacity: .8;
    border-bottom: 1px solid #ddd;
}

#product-reviews .alert-success .check-mark {
    margin-left: 0;
    margin-right: 1rem;
    height: 1.25rem;
}

/* Product review article */

article.product-review {
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 10px -5px;
}

article.product-review .product-reviewer-name {
    display: inline-block;
}

article.product-review time {
    display: inline-block;
    font-size: .9375rem;
    color: #777;
}

article.product-review .product-review-rating {
    position: relative;
    top: 3px;
}

/* Product review form */

form.product-review input,
form.product-review textarea {
    box-shadow: 3px 3px 10px -5px;
}

form.product-review .form-control::placeholder {
    text-transform: none;
    color: #777;
}

form.product-review .form-control {
    padding: .375rem 1rem;
    border: 1px solid #ddd;
}

form.product-review span {
    color: #777;
}

form.product-review .rating-stars {
    position: relative;
    top: 4px;
    cursor: pointer;
}

.rating-stars input + label [class*="icon-"] {
    font-size: 1.25rem;
}

.has-error .ec-error {
    display: block;
    margin-top: .5rem;
    color: #ff4136;
}

/* Product review radio input and its pseudo-classes override */

.rating-stars input + label {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.rating-stars input + label::before {
    border: 0 !important;
}

.rating-stars input + label::after {
    border: 0 !important;
    background-color: transparent !important;
}

/**
 * Product description
 */

#product-description {
    white-space: pre-wrap;
}

/**
 * Expo (product) sidebar at product page, .expo-selector and .expo-rotate overrides
 */

.expo-selector {
    position: static;
}

.expo-sidebar {
    position: absolute;
    top: 30px;
    right: 30px;
}

.product-side-rotator .expo-rotate {
    position: static;
    width: 80px;
    height: 80px;
    opacity: 0.85;
}

.product-side-rotator .expo-rotate > [class^="icon"]::before {
    margin: 0;
    font-size: 2rem;
    position: relative;
    top: 3px;
    right: 6px;
    transition: transform .25s;
}

.product-side-rotator .expo-rotate.rotated > [class^="icon"]::before {
    right: 3px;
    transform: rotate(-180deg);
}

/**
 * Product sizes, missing .input-group-prepend and .input-group-append styles
 */

.input-group-append,
.input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#product-sizes .input-group-prepend {
    margin-right: -1px;
}

#product-sizes .input-group-append {
    margin-left: -1px;
}

#product-sizes .input-group-prepend > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#product-sizes .input-group-append > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#product-sizes button {
    padding: 0 .5rem;
    line-height: 1;
    font-weight: 400;
    font-size: 1.375rem;
    box-shadow: none;
}

#product-sizes .form-control {
    border-color: #ccc;
    text-align: center;
    font-size: .9375rem;
    padding: .125rem;
    line-height: 1.2;
}

/**
 * Turn off spinners in input[type="number"]
 */

input[type="number"].no-spinners {
  -moz-appearance: textfield !important;;
}

input[type="number"].no-spinners::-webkit-inner-spin-button,
input[type="number"].no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/**
 * .dropdown-toggle rotation & animation
 */

.product-size-toggle.dropdown-toggle::after {
    transition: -webkit-transform .25s;
    transition: transform .25s;
}

.product-size-toggle.dropdown-toggle[aria-expanded="false"]::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/**
 * Product availability
 */

.product-availability-label {
    position: relative;
    bottom: .25rem;
}

.product-availability {
    cursor: pointer;
}

.product-availability-divider {
    display: inline-block;
    width: .25rem;
    height: 1rem;
    background-color: #eee;
    margin-right: 3px;
}

.product-availability-divider:last-child {
    margin-right: 0;
}

.product-availability-divider.level-1 {
    background-color: red;
}

.product-availability-divider.level-2 {
    background-color: #ff9225;
}

.product-availability-divider.level-3 {
    background-color: green;
}

#product-availability h5 {
    font-weight: 400;
    opacity: .8;
    border-bottom: 1px solid #ddd;
}

/**
 * Collapsible filters and filters toggler
 */

#filters-collapsible {
    display: none;
}

#filters-collapsible.expanded {
    display: flex;
}

.filter-toggler {
    padding: .5rem 3rem;
    position: relative;
    top: -1px;
    background-color: #f7f7f7;
    border: 1px solid #dedede;
    border-top-color: #f7f7f7;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    cursor: pointer;
    box-shadow: 0px 10px 5px -5px #dedede;
}

/**
 * Product price request
 */

.product-price-request a {
    cursor: pointer;
}

.product-price-request .btn-icon {
    position: relative;
    top: 2px;
    padding: 0;
    padding-right: .375rem;
    font-size: 1.25rem;
    line-height: 1;
}
